html, body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    position: absolute;
}

.container {
    margin: 10px 0 50px 0;
}

#messages {
    height: 80%;
    overflow: hidden;
}

#controls {
    position: fixed;
    bottom: 0;
    height: 50px;
    margin: 0 15px 0 0;
    padding-top: 10px;
    background: white;
}

messages {
    overflow: hidden;
    max-height: 50%;
}

span.nickname {
    font-weight: bold;
}
