body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

div.jumbotron {
    margin-top: 10px;
    margin-bottom: 10px;
}
